{
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "jsx": true
      },
      "ecmaVersion": 8,
      "sourceType": "module"
    },
    "globals": {
      "logger": true,
      "isUndef": true,
      "time": true,
      "_t": true,
      "_": true,
      "CE": true,
      "$": true,
      "describe": true,
      "it": true,
      "pify": true
    },
    "plugins": [
    ],
    "rules": {
      "no-console": 0,
      "indent": [
        "error",
        2,
        {
          "SwitchCase": 1
        }
      ],
      "linebreak-style": [
        "error",
        "unix"
      ],
      "quotes": [
        "error",
        "single"
      ],
      "semi": [
        "error",
        "always"
      ],
      "no-unused-vars": [
        "error",
        {
          "args": "none"
        }
      ]
    }
  }
  