    <footer>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/public/admin//js/app.js?v=<%= version %>"></script>
  <% js.forEach(path => { %>
    <script src="<%= path %>?v=<%= version %>"></script>
  <% }) %>
</body>